<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.test.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:fullBackupContent"
        android:theme="@style/Theme.AppFlyerOneSignal">
        <meta-data android:name="com.pushwoosh.appid" android:value="@string/pushWooshAppId" />
        <meta-data android:name="com.pushwoosh.senderid" android:value="@string/fcm_sender_id" />
        <activity android:name="com.example.test.ComposeMainActivity"
            android:configChanges="screenLayout|orientation|screenSize|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>